<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="filePath" value="C:\Users\kerem.duzenli_q2pay\Documents\GitHub\c_sharp-sql_txt-tournament_tracker-application\TournamentTracker"/>
		<add key ="greaterWins" value="1"/>
		<add key ="senderEmail" value="tim@iamtimcorrey.com"/>
		<add key ="senderDisplayName" value="Mr. X"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=localhost,1433;Database=Tournaments;User Id=sa;Password=Super_Password_10;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!--<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" userName="name" password="pass" port="25" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>-->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
</configuration>